@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

:root {
  font-size: 18px;
  --ff-main: "Rubik";
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;

  --fs-300: 0.75rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.0625rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;
}
