// SPACING //

$sizes: (
  radius: 0.4rem,
  min: 0.8rem,
  100: 1rem,
  200: 1.5rem,
  300: 2rem,
  400: 2.5rem,
  500: 5rem,
  600: 7rem,
  700: 13rem,
);

:root {
  @each $name, $value in $sizes {
    --size-#{$name}: #{$value};
  }
}
